<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090961385323-h668blofcpj4n4dp1g6q27aun6g0itpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090961385323-h668blofcpj4n4dp1g6q27aun6g0itpp</string>
	<key>API_KEY</key>
	<string>AIzaSyBdJ7PuxmME_a2k_gXuCAMtFr-bbcpaWxY</string>
	<key>GCM_SENDER_ID</key>
	<string>1090961385323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heybug</string>
	<key>PROJECT_ID</key>
	<string>hey-bug</string>
	<key>STORAGE_BUCKET</key>
	<string>hey-bug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090961385323:ios:f3dacdfe53504a31</string>
	<key>DATABASE_URL</key>
	<string>https://hey-bug.firebaseio.com</string>
</dict>
</plist>